<?xml version="1.0"?>
<config>
    <modules>
        <Upg_Payments>
            <version>0.1.17</version>
        </Upg_Payments>
    </modules>

    <frontend>
        <translate>
            <modules>
                <upg_payments>
                    <files>
                        <default>Upg_Payments.csv</default>
                    </files>
                </upg_payments>
            </modules>
        </translate>
        <layout>
            <updates>
                <upg_payments>
                    <file>upg/payment.xml</file>
                </upg_payments>
            </updates>
        </layout>
        <routers>
            <upg_payments>
                <use>standard</use>
                <args>
                    <module>Upg_Payments</module>
                    <frontName>paymentmodule</frontName>
                </args>
            </upg_payments>
        </routers>
    </frontend>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Upg_Payments before="Mage_Adminhtml">Upg_Payments_Adminhtml</Upg_Payments>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <translate>
            <modules>
                <upg_payments>
                    <files>
                        <default>Upg_Payments.csv</default>
                    </files>
                </upg_payments>
            </modules>
        </translate>
        <events>
            <admin_system_config_changed_section_upg_payments>
                <observers>
                    <upg_payments_setgender>
                        <type>singleton</type>
                        <class>Upg_Payments_Model_Adminhtml_Observer</class>
                        <method>setGenderRequiredOnEnable</method>
                    </upg_payments_setgender>
                </observers>
            </admin_system_config_changed_section_upg_payments>
            <admin_system_config_changed_section_customer>
                <observers>
                    <upg_payments_set_gender>
                        <type>singleton</type>
                        <class>Upg_Payments_Model_Adminhtml_Observer</class>
                        <method>setGenderRequiredOnEnable</method>
                    </upg_payments_set_gender>
                </observers>
            </admin_system_config_changed_section_customer>
            <adminhtml_widget_container_html_before>
                <observers>
                    <upg_payments_add_order_buttons>
                        <class>upg_payments/adminhtml_observer</class>
                        <type>singleton</type>
                        <method>addUpgApiButtons</method>
                    </upg_payments_add_order_buttons>
                </observers>
            </adminhtml_widget_container_html_before>
        </events>
    </adminhtml>

    <global>
        <blocks>
            <upg_payments>
                <class>Upg_Payments_Block</class>
            </upg_payments>
        </blocks>
        <models>
            <upg_payments>
                <class>Upg_Payments_Model</class>
                <resourceModel>upg_payments_resource</resourceModel>
            </upg_payments>

            <upg_payments_resource>
                <class>Upg_Payments_Model_Resource</class>
                <entities>
                    <transaction>
                        <table>upg_payments_transactions</table>
                    </transaction>
                    <mns_message>
                        <table>upg_payments_mns_messages</table>
                    </mns_message>
                    <update_transaction>
                        <table>upg_payments_update_transaction</table>
                    </update_transaction>
                </entities>
            </upg_payments_resource>
        </models>
        <helpers>
            <upg_payments>
                <class>Upg_Payments_Helper</class>
            </upg_payments>
        </helpers>
        <resources>
            <upgpayments_setup>
                <setup>
                    <module>Upg_Payments</module>
                    <class>Mage_Eav_Model_Entity_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </upgpayments_setup>
        </resources>
        <fieldsets>
            <sales_convert_quote_address>
                <upg_company_registration_id>
                    <to_order_address>*</to_order_address>
                    <to_customer_address>*</to_customer_address>
                </upg_company_registration_id>
                <upg_company_registration_type>
                    <to_order_address>*</to_order_address>
                    <to_customer_address>*</to_customer_address>
                </upg_company_registration_type>
            </sales_convert_quote_address>
            <customer_address>
                <upg_company_registration_id>
                    <to_quote_address>*</to_quote_address>
                </upg_company_registration_id>
                <upg_company_registration_type>
                    <to_quote_address>*</to_quote_address>
                </upg_company_registration_type>
            </customer_address>
        </fieldsets>
        <events>
            <sales_order_payment_capture>
                <observers>
                    <upg_payments>
                        <type>singleton</type>
                        <class>upg_payments/observer</class>
                        <method>addInvoiceToUpdateTransactionTable</method>
                    </upg_payments>
                </observers>
            </sales_order_payment_capture>
        </events>
    </global>

    <default>
        <payment>
            <upg_payments module="Upg_Payments">
                <model>upg_payments/payment</model>
            </upg_payments>
            <upg module="Upg_Payments">
                <active>1</active>
                <title>Pay by card,Paypal etc</title>
                <order_status>pending</order_status>
                <allowspecific>0</allowspecific>
                <payment_action>sale</payment_action>
                <transaction_mode>TEST</transaction_mode>
                <service_urls>
                    <live>https://www.pay-co.net/2.0</live>
                    <test>https://sandbox.upgplc.com/2.0</test>
                </service_urls>
                <payment_iframe_dimensions_units>px</payment_iframe_dimensions_units>
                <payment_iframe_dimensions_width>0</payment_iframe_dimensions_width>
                <payment_iframe_dimensions_height>0</payment_iframe_dimensions_height>
                <payment_iframe_dimensions_fit_to_width_desktop>1</payment_iframe_dimensions_fit_to_width_desktop>
                <payment_iframe_dimensions_max_mobile_browser_width>450</payment_iframe_dimensions_max_mobile_browser_width>
                <payment_iframe_dimensions_fit_to_width_mobile>1</payment_iframe_dimensions_fit_to_width_mobile>
                <payment_target>0</payment_target>
                <update_transaction_enabled>1</update_transaction_enabled>
            </upg>
        </payment>
    </default>
    <crontab>
        <jobs>
            <upg_mns_process>
                <schedule>
                    <!-- Run every 5 mins -->
                    <cron_expr>*/5 * * * *</cron_expr>
                </schedule>
                <run>
                    <model>upg_payments/Mns::process</model>
                </run>
            </upg_mns_process>
            <upg_update_transaction>
                <schedule>
                    <!-- Run every 5 mins -->
                    <cron_expr>*/5 * * * *</cron_expr>
                </schedule>
                <run>
                    <model>upg_payments/UpdateTransaction::process</model>
                </run>
            </upg_update_transaction>
            <upg_removeoldpds>
                <schedule>
                    <!-- Run at 2am every day -->
                    <cron_expr>0 2 * * *</cron_expr>
                </schedule>
                <run>
                    <model>upg_payments/UpdateTransaction::removeOldPDFs</model>
                </run>
            </upg_removeoldpds>
        </jobs>
    </crontab>
</config>